*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html {background: #021928 url('../imagens/bg-site.png') top repeat-x;}

#logo {background: white; padding: 0 10px; width: 40%; position: relative; height: 140px; float: right; margin-top: 1%; border-radius: 20px 0 0 20px;}
#logo:before {content: ' '; display: inline-block; vertical-align: middle; height: 100%;}
#logo img {max-width: 97%; height: 90%; vertical-align: middle; display: inline-block;}

#banner {clear:both; vertical-align: middle; text-align: center;}
#banner #propaganda {display: none; margin-top: 10px;}
#banner #propaganda, #banner .flexslider img {width: 100%; max-height: 530px;}

#banner .flexslider {border: none !important; margin: 0 !important}
#banner .flexslider ul {margin: 0; padding: 0; list-style: none;}

#numeros {width: 50%; margin: 1% 0 0 2%; float: left;}
#numeros table {float: left; width: 20%; text-align: center;}
#numeros table th {border:3px solid #0f1249; font-size: 28px; color: white; text-shadow: 0 0 8px #000; -moz-text-shadow: 0 0 8px #000;}
#numeros #vermelho th {background: #d11700}
#numeros #amarelo th {background: #ffc809}
#numeros #verde th {background: #35c013}
#numeros #azul th {background: #3395e4}
#numeros #roxo th {background: #912ec2}
#numeros table td {border:2px solid #000; margin: 1px 0; cursor: default; padding: 0; font-size: 23px; width: 50%; font-weight: bold; background: #666; color:#CCC;}

#numeros .sorteado {background: #ffff05; color:black; cursor: not-allowed;}
#numeros .ultimo {background: #d10000; color:white; cursor: not-allowed;}

#bolas {float: right; clear: right; width: 47%; padding-left: 3%; margin-top: 10px; position: relative; text-align: center;}
.especial {background: url('../imagens/bg-especial.png'); padding-bottom: 120px}
#bolas h2 {margin: 0; padding: 5px 0; cursor: pointer; font-size: 50px; color:#FFF; text-align: center; text-transform: uppercase; text-shadow: 0 0 18px #000; display: inline-block;}

#bolas p {border-radius: 100%; text-align: center;}
#bolas strong {color: white; font-weight: bold; display: block; -webkit-text-stroke: 5px #000;}
#bolas span {font-weight: bold; display: inline-block; background: white; border-radius: 100%; border: solid; border-color: #000;}

#bolas #ultima-bola {width: 320px; background-color: #999; height: 320px; box-shadow: 0 20px 40px #000; z-index: 99; margin: 80px 0 0 -30px; position: relative; z-index: 999}
#bolas #ultima-bola strong {font-size: 85px;}
#bolas #ultima-bola span {font-size: 170px; width: 265px; padding: 0 20px; border-width: 10px;}

#bolas #penultima-bola {width: 180px; height: 180px; background-color: #666; box-shadow: 0 0 8px #000; position: absolute; right: 2%; top: 55px;}
#bolas #penultima-bola strong {font-size: 46px; -webkit-text-stroke: 3px #000;}
#bolas #penultima-bola span {font-size: 95px; width: 150px; padding: 0 14px; border-width: 7px;}

#bolas .vermelho {background-image: radial-gradient(#ff0000, #ac0000);}
#bolas .amarelo  {background-image: radial-gradient(#fff000, #ffc000);}
#bolas .verde 	 {background-image: radial-gradient(#00ff00, #00ac00);}
#bolas .azul 	 {background-image: radial-gradient(#54b1ff, #006ad7);}
#bolas .roxo 	 {background-image: radial-gradient(#af84ff, #811bff);}